body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  bottom: 90px;
  right: 20px;
  width: 350px;
  z-index: 9;
  position: fixed;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #e6e3e3;
  border-radius: 10px;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1),
    5px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Full-width textarea */
.form-container #msg,
#name {
  width: 100%;
  border: none;
  border-bottom: 1px solid #61d2f8;
  resize: none;
  min-height: 20px;
}

/* When the textarea gets focus, do something */
.form-container #msg:focus,
#name {
  background-color: none;
  outline: none;
}

.chat-text {
  height: 250px;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 205, 205);
  padding: 10px 5px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.text-primary {
  color: rgb(6, 109, 146);
}

.send-btn {
  margin-left: 5px;
  margin-top: 10px;
  border: none;
  background-color: #7ed0ec;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

.send-btn:hover {
  background-color: #039fd3;
}

.mb-10 {
  margin-bottom: 10px;
}

.traingle {
  transition: top ease-in-out 0.2s, box-shadow ease-in-out 0.5s,
    -webkit-box-shadow ease-in-out 0.5s;
  content: "";
  position: absolute;
  width: 15px;
  height: 50px;
  background: #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: -14px;
  right: 65px;
  /* -webkit-box-shadow: 2px -4px 10px -1px rgba(0,0,0,.35); */
  box-shadow: 2px -4px 10px -1px rgba(0, 0, 0, 0.35);
}

.p-1 {
  padding: 1px;
}

.footer-txt {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: inline-block;
  cursor: pointer;
}

.inputfile + label * {
  pointer-events: none;
}
